<div class="modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">
                    {{'adminFacilityPrograms.assignProgramsTo' | message:({facility: vm.facility.name})}}
                </h1>
            </div>
            <div class="modal-body">
                <form id="add-program-form" class="form-inline" ng-submit="vm.addProgram()" reload-form>
                    <div class="form-group">
                        <label for="program">{{'adminFacilityPrograms.program' | message}}</label>
                        <select id="program" ng-model="vm.program" ng-options="program.name for program in vm.programs | filter:vm.isNotAssigned()" required></select>
                    </div>
                    <div class="form-group">
                        <label for="start-date">{{'adminFacilityPrograms.startDate' | message}}</label>
                        <openlmis-datepicker input-id="start-date" value="vm.startDate" required="true"></openlmis-datepicker>
                    </div>
                    <button class="add" type="submit">{{'adminFacilityPrograms.addProgram' | message}}</button>
                </form>
                <section class="openlmis-table-container">
                    <table>
                        <caption ng-if="!vm.facility.supportedPrograms || vm.facility.supportedPrograms.length === 0">
                            {{'adminFacilityPrograms.noProgramsSupported' | message}}
                        </caption>
                        <thead>
                            <tr>
                                <th>{{'adminFacilityPrograms.program' | message}}</th>
                                <th>{{'adminFacilityPrograms.active' | message}}</th>
                                <th>{{'adminFacilityPrograms.startDate' | message}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="program in vm.facility.supportedPrograms">
                                <td>{{program.name}}</td>
                                <td ><input type="checkbox" ng-model="program.supportActive"/></td>
                                <td>{{program.supportStartDate | openlmisDate}}</td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </div>
            <div class="modal-footer">
                <button id="cancel" ng-click="vm.cancel()">{{'adminFacilityPrograms.cancel' | message}}</button>
                <button id="save" class="primary" ng-click="vm.save()">{{'adminFacilityPrograms.save' | message}}</button>
            </div>
        </div>
    </div>
</div>
