<section class="openlmis-table-container">
    <table>
        <caption ng-if="!vm.requisitionGroup.requisitionGroupProgramSchedules ||
                vm.requisitionGroup.requisitionGroupProgramSchedules.length === 0">
            {{'adminRequisitionGroupView.noAssociatedProgramAndSchedules' | message}}
        </caption>
        <thead>
            <tr>
                <th>{{'adminRequisitionGroupView.program' | message}}</th>
                <th>{{'adminRequisitionGroupView.schedule' | message}}</th>
                <th>{{'adminRequisitionGroupView.actions' | message}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="programSchedule in vm.requisitionGroup.requisitionGroupProgramSchedules">
                <td>{{programSchedule.program.name}}</td>
                <td>{{programSchedule.processingSchedule.name}}</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</section>
