<h2>{{vm.requisitionGroup.name}}</h2>
<form id="editSupervisoryNode">
    <label for="code">{{'adminRequisitionGroupView.requisitionGroupCode' | message}}</label>
    <input id="code" class="form-control" ng-model="vm.requisitionGroup.code" required disabled/>
    <label for="name">{{'adminRequisitionGroupView.requisitionGroupName' | message}}</label>
    <input id="name" class="form-control" ng-model="vm.requisitionGroup.name" required disabled/>
    <label for="supervisoryNode">{{'adminRequisitionGroupView.supervisoryNode' | message}}</label>
    <input id="supervisoryNode" class="form-control" ng-model="vm.requisitionGroup.supervisoryNode.name" required disabled/>
</form>
<nav class="user-roles">
    <ul bs-active-pane="vm.selectedTab" bs-tabs>
        <li bs-pane data-title="{{'adminRequisitionGroupView.programsAndSchedules' | message}}">
            <ng-include src="'admin-requisition-group-view/programs-and-schedules.html'"></ng-include>
        </li>
        <li bs-pane data-title="{{'adminRequisitionGroupView.facilities' | message}}">
            <ng-include src="'admin-requisition-group-view/member-facilities.html'"></ng-include>
        </li>
    </ul>
</nav>
<div class="openlmis-toolbar">
    <button ui-sref="openlmis.administration.requisitionGroupList" ui-sref-opts="{reload: true}">{{'adminRequisitionGroupView.cancel' | message}}</button>
</div>
