<h2>{{vm.requisitionGroup.name}}</h2>
<form id="editSupervisoryNode">
    <label for="code">{{'adminRequisitionGroupView.requisitionGroupCode' | message}}</label>
    <input id="code" class="form-control" ng-model="vm.requisitionGroup.code" required disabled/>
    <label for="name">{{'adminRequisitionGroupView.requisitionGroupName' | message}}</label>
    <input id="name" class="form-control" ng-model="vm.requisitionGroup.name" required disabled/>
    <label for="supervisoryNode">{{'adminRequisitionGroupView.supervisoryNode' | message}}</label>
    <input id="supervisoryNode" class="form-control" ng-model="vm.requisitionGroup.supervisoryNode.name" required disabled/>
</form>
<label>{{'adminRequisitionGroupView.associations' | message}}</label>
<nav class="user-roles">
    <ul bs-active-pane="vm.selectedTab" bs-tabs>
        <li bs-pane data-title="{{'adminRequisitionGroupView.programsAndSchedules' | message}}">
            <h3>{{'adminRequisitionGroupView.associatedProgramsAndSchedules' | message}}</h3>
            <section class="openlmis-table-container">
                <table>
                    <caption ng-if="!vm.requisitionGroup.requisitionGroupProgramSchedules ||
                            vm.requisitionGroup.requisitionGroupProgramSchedules.length === 0">
                        {{'adminRequisitionGroupView.noAssociatedProgramAndSchedules' | message}}
                    </caption>
                    <thead>
                        <tr>
                            <th>{{'adminRequisitionGroupView.program' | message}}</th>
                            <th>{{'adminRequisitionGroupView.schedule' | message}}</th>
                            <th>{{'adminRequisitionGroupView.actions' | message}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="programSchedule in vm.requisitionGroup.requisitionGroupProgramSchedules">
                            <td>{{programSchedule.program.name}}</td>
                            <td>{{programSchedule.processingSchedule.name}}</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </li>
        <li bs-pane data-title="{{'adminRequisitionGroupView.facilities' | message}}">
            <h3>{{'adminRequisitionGroupView.associatedFacilities' | message}}</h3>
            <section class="openlmis-table-container">
                <table>
                    <caption ng-if="!vm.memberFacilites ||
                            vm.memberFacilites.length === 0">
                        {{'adminRequisitionGroupView.noAssociatedFacilities' | message}}
                    </caption>
                    <thead>
                        <tr>
                            <th>{{'adminRequisitionGroupView.facilityName' | message}}</th>
                            <th>{{'adminRequisitionGroupView.geographicZone' | message}}</th>
                            <th>{{'adminRequisitionGroupView.facilityType' | message}}</th>
                            <th>{{'adminRequisitionGroupView.facilityEnabled' | message}}</th>
                            <th>{{'adminRequisitionGroupView.actions' | message}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="facility in vm.memberFacilitiesPage">
                            <td>{{facility.name}}</td>
                            <td>{{facility.geographicZone.name}}</td>
                            <td>{{facility.facilityType.name}}</td>
                            <td><i ng-class="{'icon-ok': facility.enabled, 'icon-remove': !facility.enabled}"></i></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <openlmis-pagination
            		list="vm.memberFacilities"
            		paged-list="vm.memberFacilitiesPage"/>
            </section>
        </li>
    </ul>
</nav>
<div class="openlmis-toolbar">
    <button ng-click="vm.goToRequisitionGroupList()">{{'adminRequisitionGroupView.cancel' | message}}</button>
</div>
