<form id="editSystemNotification" ng-submit="vm.saveSystemNotification()">
    <label for="author">{{'adminSystemNotificationEdit.author' | message}}</label>
    <input id="author" type="text" value="{{vm.author | user}}" disabled />
    <label for="createdDate" ng-if="vm.systemNotification.id">{{'adminSystemNotificationEdit.createdDate' | message}}</label>
    <input id="createdDate" type="text" value="{{vm.systemNotification.createdDate | openlmisDatetime}}"
        ng-if="vm.systemNotification.id" disabled />
    <label for="message">{{'adminSystemNotificationEdit.message' | message}}</label>
    <textarea id="message" ng-model="vm.systemNotification.message" required></textarea>
    <label for="startDate">{{'adminSystemNotificationEdit.startDate' | message}}</label>
    <input id="startDate" type="text" openlmis-datetimepicker ng-model="vm.systemNotification.startDate" max-date="vm.systemNotification.expiryDate" required>
    <label for="expiryDate">{{'adminSystemNotificationEdit.expiryDate' | message}}</label>
    <input id="expiryDate" type="text" openlmis-datetimepicker ng-model="vm.systemNotification.expiryDate" min-date="vm.systemNotification.startDate">
    <label for="title">{{'adminSystemNotificationEdit.title' | message}}</label>
    <input id="title" type="text" ng-model="vm.systemNotification.title" />
    <label>
        <input type="checkbox" ng-model="vm.systemNotification.active" />
        {{'adminSystemNotificationEdit.active' | message}}
    </label>
</form>
