<div class="modal user-password-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close" ng-click="$hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">{{'adminUserForm.createPassword'| message}}</h4>
                </div>
                <div class="modal-body">
                    <form id="createPasswordForm" name="createPasswordForm" class="user-form"
                        ng-submit="vm.createPassword()">
                        <label>
                            <span>{{'adminUserForm.username' | message}}</span>
                            <span>{{vm.user.username}}</span>
                        </label>
                        <label for="password">{{'adminUserForm.password' | message}}</label>
                        <input id="password" name="newPassword" ng-model="vm.user.newPassword"
                            ng-attr-type="{{ showPassword ? 'text' : 'password' }}" required/>
                        <label>
                            <input type="checkbox" id="showPassword" ng-model="showPassword" ng-checked="false">
                            {{'adminUserForm.showPassword' | message}}
                        </label>
                    </form>
                </div>
                <div class="modal-footer">
                    <button ng-click="$hide()">{{'adminUserForm.cancel' | message}}</button>
                    <input form="createPasswordForm" type="submit"
                        value="{{'adminUserForm.createPassword'| message}}"/>
                </div>
        </div>
    </div>
</div>
