<div class="modal user-password-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button ng-if="!vm.hideCancel" type="button" class="close" aria-label="Close" ng-click="$hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{{vm.title | message}}</h4>
            </div>
            <div class="modal-body">
                <form id="userPasswordForm" name="userPasswordForm" class="user-form"
                            ng-submit="vm.updatePassword()">
                    <label>
                        <span>{{'adminUserForm.username' | message}}: {{vm.user.username}}</span>
                    </label>
                    <fieldset class="form-group">
                        <label class="radio">
                            <input type="radio" ng-disabled="!vm.user.email" id="send-email-radio"
                                   ng-model="vm.isEmailResetSelected" ng-value="true"/>
                            {{ 'adminUserForm.sendResetEmail' | message }}
                        </label>
                        <label class="radio">
                            <input type="radio" ng-model="vm.isEmailResetSelected" ng-value="false"/>
                            <p>
                                {{ 'adminUserForm.setPasswordManually' | message }}
                                <input id="newPassword" name="newPassword" ng-model="vm.user.newPassword"
                                             ng-attr-type="{{ showPassword ? 'text' : 'password' }}"
                                             ng-required="!vm.isEmailResetSelected"/>
                                <label class="checkbox">
                                    <input type="checkbox" id="showPassword" ng-model="showPassword"
                                                 ng-checked="false">
                                    {{'adminUserForm.showPassword' | message}}
                                </label>
                            </p>
                        </label>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button ng-if="!vm.hideCancel" ng-click="$hide()">{{'adminUserForm.cancel' | message}}</button>
                <input form="userPasswordForm" type="submit" value="{{ vm.title | message }}"/>
            </div>
        </div>
    </div>
</div>
