<div>
    <h2>{{'adminOrderableEdit.orderableDetails' | message}}</h2>
    <dl>
        <dt>{{'adminOrderableEdit.productCode' | message}}</dt>
        <dd>{{vm.orderable.productCode}}<dd>
    </dl>
    <dl>
        <dt>{{'adminOrderableEdit.name' | message}}</dt>
        <dd>{{vm.orderable.fullProductName}}<dd>
    </dl>
    <dl>
        <dt>{{'adminOrderableEdit.dispensingUnit' | message}}</dt>
        <dd>{{vm.orderable.dispensable.displayUnit}}<dd>
    </dl>
    <dl>
        <dt>{{'adminOrderableEdit.packRoundingThreshold' | message}}</dt>
        <dd>{{vm.orderable.packRoundingThreshold}}<dd>
    </dl>
    <dl>
        <dt>{{'adminOrderableEdit.netContent' | message}}</dt>
        <dd>{{vm.orderable.netContent}}<dd>
    </dl>
    <dl>
        <dt>{{'adminOrderableEdit.roundToZero' | message}}</dt>
        <dd><i ng-class="{'icon-ok': vm.orderable.roundToZero, 'icon-remove': !vm.orderable.roundToZero}"></i><dd>
    </dl>
    <dl>
        <dt>{{'adminOrderableEdit.description' | message}}</dt>
        <dd>{{vm.orderable.description}}<dd>
    </dl>
    <dl>
        <dt ng-if="vm.constituents && vm.constituents.length > 0">{{'adminOrderableEdit.kitUnpackList' | message}}</dt>
        <dd>
            <form name="saveKitUnpackListForm" id="saveKitUnpackList" class="form-inline" ng-submit="vm.save()">
                <section class="openlmis-table-container" ng-if="vm.constituents && vm.constituents.length > 0">
                <div class="is-primary">
                    <button type="button" ng-click="vm.addKitContituents()">
                            {{'adminOrderableEdit.addProduct' | message}}</button></div>                
                <table>
                    <thead>
                        <tr>
                            <th>{{'adminOrderableEdit.productCode' | message}}</th>
                            <th>{{'adminOrderableEdit.name' | message}}</th>
                            <th>{{'adminOrderableEdit.quantity' | message}}</th>
                            <th>{{'adminOrderableEdit.action' | message}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="kitConstituent in vm.constituentsPage">
                            <td>{{kitConstituent.productCode}}</td>
                            <td>{{kitConstituent.fullProductName}}</td>
                            <td><input positive-integer id="quantity_{{$index}}" max="100" ng-model="kitConstituent.quantity" required>
                            </td>
                            <td><button ng-click="vm.removeKitContituent(kitConstituent)" id="remove_{{$index}}" type="button" class="danger">
                            {{'adminOrderableEdit.remove' | message}}</button></td>
                        </tr> 
                    </tbody>
                </table>              
                <openlmis-pagination list="vm.constituents" paged-list="vm.constituentsPage"/>
            </section>   
            </form>         
        </dd>        
    </dl>
    <dl>
        <dt>{{'adminOrderableEdit.associatedPrograms' | message}}</dt>
        <dd>
            <section class="openlmis-table-container">
                <table>
                    <caption ng-if="!vm.orderable.programs || vm.orderable.programs.length === 0">
                        {{'adminOrderableEdit.noAssociatedPrograms' | message}}
                    </caption>
                    <thead>
                        <tr>
                            <th>{{'adminOrderableEdit.programName' | message}}</th>
                            <th>{{'adminOrderableEdit.productCode' | message}}</th>
                            <th>{{'adminOrderableEdit.active' | message}}</th>
                            <th>{{'adminOrderableEdit.displayOrder' | message}}</th>
                            <th>{{'adminOrderableEdit.dosesPerPatient' | message}}</th>
                            <th>{{'adminOrderableEdit.fullSupply' | message}}</th>
                            <th>{{'adminOrderableEdit.pricePerPack' | message}}</th>
                            <th>{{'adminOrderableEdit.orderableCategoryDisplayName' | message}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="program in vm.orderable.programs">
                            <td>{{program.$program.name}}</td>
                            <td>{{vm.orderable.productCode}}</td>
                            <td>
                                <i ng-class="{'icon-ok': program.active, 'icon-remove': !program.active}"></i>
                            </td>
                            <td>{{program.displayOrder}}</td>
                            <td>{{program.dosesPerPatient}}</td>
                            <td>
                                <i ng-class="{'icon-ok': program.fullSupply, 'icon-remove': !program.fullSupply}"></i>
                            </td>
                            <td>{{program.pricePerPack}}</td>
                            <td>{{program.orderableCategoryDisplayName}}</td>
                        </tr>
                    </tbody>
                </table>
            </section>
        <dd>
    </dl>
    <div class="openlmis-toolbar">
        <button ui-sref="^">{{'adminOrderableEdit.cancel' | message}}</button>
        <div class="button-group primary">
            <button class="primary"  type="submit" ng-if="vm.orderable.children.length > 0 || saveKitUnpackListForm.$dirty || vm.orderable.children.length !== vm.constituents.length" form="saveKitUnpackList">{{'adminOrderableEdit.save' | message}}</button>
            <button class="primary" ng-if="vm.constituents.length === 0" ng-click="vm.addKitContituents()">{{'adminOrderableEdit.createKitUnpackList' | message}}</button>
        </div>
    </div>
</div>
