<h3>{{'adminOrderableEdit.kitUnpackList' | message}}</h3>
<form name="saveKitUnpackListForm" id="saveKitUnpackList" class="form-inline" ng-submit="vm.saveOrderable()">
    <section class="openlmis-table-container">
        <div class="is-primary">
            <button type="button" ng-click="vm.addChild()">
                {{'adminOrderableEdit.addProduct' | message}}</button></div>
        <table>
            <caption ng-if="!vm.children || vm.children.length === 0">
                {{'adminOrderableEdit.noKitProductsFound' | message}}
            </caption>
            <thead>
                <tr>
                    <th>{{'adminOrderableEdit.productCode' | message}}</th>
                    <th>{{'adminOrderableEdit.name' | message}}</th>
                    <th>{{'adminOrderableEdit.quantity' | message}}</th>
                    <th>{{'adminOrderableEdit.actions' | message}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="child in vm.childrenPage">
                    <td>{{vm.orderablesMap[child.orderable.id].productCode}}</td>
                    <td>{{vm.orderablesMap[child.orderable.id].fullProductName}}</td>
                    <td><input positive-integer id="quantity_{{$index}}" max="100" ng-model="child.quantity"
                            required>
                    </td>
                    <td><button ng-click="vm.removeChild(child)" id="remove_{{$index}}" type="button"
                            class="danger">
                            {{'adminOrderableEdit.remove' | message}}</button></td>
                </tr>
            </tbody>
        </table>
        <openlmis-pagination list="vm.children" paged-list="vm.childrenPage" pagination-id="'kitUnpackList'" />
    </section>
</form>

<div class="openlmis-toolbar">
    <button ng-click="vm.goToOrderableList()">{{'adminOrderableEdit.cancel' | message}}</button>
    <div class="button-group primary">
        <button class="primary" type="submit" form="saveKitUnpackList">{{'adminOrderableEdit.saveKitUnpackList' | message}}</button>
    </div>
</div>