<form class="form-inline" ng-submit="vm.addProgram()" reload-form>
    <div class="form-group">
        <label for="program">{{'adminFacilityView.program' | message}}</label>
        <select id="program" ng-model="vm.selectedProgram"
            ng-options="program as program.name for program in vm.programs"
            required>
        </select>
    </div>
    <div class="form-group">
        <label for="startDate">{{'adminFacilityView.startDate' | message}}</label>
        <openlmis-datepicker input-id="startDate"
            value="vm.selectedStartDate"
            required="true">
        </openlmis-datepicker>
    </div>
    <button type="submit" class="add">{{'adminFacilityView.add' | message}}</button>
</form>
<section class="openlmis-table-container">
    <table>
        <caption ng-if="!vm.facilityWithPrograms.supportedPrograms || vm.facilityWithPrograms.supportedPrograms.length === 0">
            {{'adminFacilityView.noAssociatedPrograms' | message: {facility: vm.facility.name} }}
        </caption>
        <thead>
            <tr>
                <th>{{'adminFacilityView.program' | message}}</th>
                <th>{{'adminFacilityView.active' | message}}</th>
                <th>{{'adminFacilityView.startDate' | message}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="program in vm.facilityWithPrograms.supportedPrograms">
                <td>{{program.name}}</td>
                <td><input type="checkbox" ng-model="program.supportActive"/></td>
                <td>{{program.supportStartDate | openlmisDate}}</td>
            </tr>
        </tbody>
    </table>
</section>
<div class="button-group">
    <button class="primary" ng-click="vm.saveFacilitySupportedPrograms()">{{'adminFacilityView.savePrograms' | message}}</button>
    <button ui-sref="openlmis.administration.facilities" ui-sref-opts="{reload: true}">{{'adminFacilityView.cancel' | message}}</button>
</div>
