nav.facility-edit {

    > ul {

        padding-bottom: 1em;

        li.tab-pane {
            padding: 1em;
        }

        li a {
            text-decoration: none;
        }

        li.is-invalid > a {
        	padding-right: 2em !important;
        	@include icon("exclamation-circle");
        	&::before{
        		position: absolute;
        		top: 50%;
        		right: 0.5em;
        		transform: translateY(-50%);
        		color: $brand-danger;
                border-left: none;
        	}
        }

    }
}
