nav.facility-edit {

    > ul {

        padding: 0;

        li.tab-pane {
            padding: 1em;
        }

        li a {
            text-decoration: none;
        }
    }

    div.button-group {
        max-width: 440px;
    }
}

label.has-popover:before {
    @include icon('info-circle');
    margin-right: 0.5em;
}
