<h2>{{'adminProductList.products' | message}}</h2>
<section class="openlmis-table-container">
    <form ng-submit="vm.search()">
        <fieldset class="form-group">
            <label for="code">{{'adminProductList.code' | message}}</label>
            <input type="text" id="code" ng-model="vm.code"/>
        </fieldset>
        <fieldset class="form-group">
            <label for="name">{{'adminProductList.name' | message}}</label>
            <input type="text" id="name" ng-model="vm.name"/>
        </fieldset>
        <fieldset class="form-group">
            <label for="program">{{'adminProductList.program' | message}}</label>
            <select id="program"
                    ng-options="program.code as program.name for program in vm.programs"
                    ng-model="vm.program">
            </select>
        </fieldset>
        <input type="submit" value="{{'adminProductList.search' | message}}"/>
    </form>
    <table>
        <caption ng-if="!vm.products || vm.products.length === 0">
            {{'adminProductList.products.error' | message}}
        </caption>
        <thead>
            <tr>
                <th>{{'adminProductList.code' | message}}</th>
                <th>{{'adminProductList.name' | message}}</th>
                <th>{{'adminProductList.description' | message}}</th>
                <th>{{'adminProductList.actions' | message}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="product in vm.products">
                <td>{{product.productCode}}</td>
                <td>{{product.fullProductName}}</td>
                <td>{{product.description}}</td>
                <td>
                    <a ui-sref="openlmis.administration.products.view({id: product.id})">{{'adminProductList.view' | message}}</a>
                </td>
            </tr>
        </tbody>
    </table>
    <openlmis-pagination/>
</section>
