<div class="modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 ng-if="vm.canEdit">{{'adminOrderableFtapEdit.updateFtap' | message}}</h1>
                <h1 ng-if="!vm.canEdit">{{'adminOrderableFtapEdit.previewFtap' | message}}</h1>
            </div>
            <div class="modal-body">
                <ng-include src="'admin-orderable-edit/facility-type-approved-product-form.html'"></ng-include>
            </div>
            <div class="modal-footer">
                <button ng-if="vm.canEdit" ng-click="vm.goToFtapsList()">{{'adminOrderableFtapEdit.cancel' | message}}</button>
                <div class="button-group primary">
                    <button class="primary" type="submit" form="ftapForm"
                        ng-if="vm.canEdit">{{'adminOrderableFtapEdit.updateFtap' | message}}</button>
                    <button class="primary" ng-click="vm.goToFtapsList()"
                        ng-if="!vm.canEdit">{{'adminOrderableFtapEdit.ok' | message}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
