<div class="modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1>{{vm.editMode ? 'adminFacilityTypeEdit.editFacilityType.title' : 'adminFacilityTypeEdit.createFacilityType.title' | message:({facilityType: vm.facilityType.code})}}</h1>
            </div>
            <div class="modal-body">
                <form id="edit-facility-type-form" ng-submit="vm.save()">
                    <label for="code">{{'adminFacilityTypeEdit.facilityTypeCode' | message}}</label>
                    <input type="text" id="code" ng-model="vm.facilityType.code" ng-disabled="vm.editMode" required></input>
                    <label for="name">{{'adminFacilityTypeEdit.facilityTypeName' | message}}</label>
                    <input type="text" id="name" ng-model="vm.facilityType.name" required></input>
                    <label for="displayOrder">{{'adminFacilityTypeEdit.facilityTypeDisplayOrder' | message}}</label>
                    <input positive-integer id="displayOrder" ng-model="vm.facilityType.displayOrder"></input>
                    <label for="active">
                        <input type="checkbox" ng-model="vm.facilityType.active" ng-value="true"/>
                        {{'adminFacilityTypeEdit.active' | message}}
                    </label>
                </form>
            </div>
            <div class="modal-footer">
                <button id="cancel" ng-click="vm.goToPreviousState()">{{'adminFacilityTypeEdit.cancel' | message}}</button>
                <button class="primary" type="submit" form="edit-facility-type-form">{{vm.editMode ? 'adminFacilityTypeEdit.save' : 'adminFacilityTypeEdit.create' | message}}</button>
            </div>
        </div>
    </div>
</div>
