<h2>{{'adminProcessingScheduleList.processingSchedules' | message}}</h2>
<section class="openlmis-table-container">
    <button id="add-processing-schedule" class="add" ui-sref="openlmis.administration.processingSchedules.add">
        {{'adminProcessingScheduleList.addProcessingSchedule' | message}}
    </button>
    <table>
        <caption ng-if="!vm.processingSchedules || vm.processingSchedules.length === 0">
            {{'adminProcessingScheduleList.noProcessingSchedules' | message}}
        </caption>
        <thead>
            <tr>
                <th>{{'adminProcessingScheduleList.processingScheduleCode' | message}}</th>
                <th>{{'adminProcessingScheduleList.processingScheduleName' | message}}</th>
                <th>{{'adminProcessingScheduleList.actions' | message}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="processingSchedule in vm.processingSchedules">
                <td>{{processingSchedule.code}}</td>
                <td>{{processingSchedule.name}}</td>
                <td>
                    <button ui-sref="openlmis.administration.processingSchedules.edit({id: processingSchedule.id})">{{'adminProcessingScheduleList.edit' | message}}</button>
                </td>
            </tr>
        </tbody>
    </table>
    <openlmis-pagination/>
</section>
