<div class="modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1>{{'adminSupplyPartnerAdd.header.addSupplyPartner' | message}}</h1>
            </div>
            <div class="modal-body">
                <form id="add-supply-partner-form" ng-submit="vm.save()">
                    <label for="code">{{'adminSupplyPartnerAdd.supplyPartner.code' | message}}</label>
                    <input id="code" ng-model="vm.supplyPartner.code" type="text" required/>

                    <label for="name">{{'adminSupplyPartnerAdd.supplyPartner.name' | message}}</label>
                    <input id="name" ng-model="vm.supplyPartner.name" type="text" required/>
                </form>
            </div>
            <div class="modal-footer">
                <button id="cancel" ng-click="vm.goToPreviousState()">{{'adminSupplyPartnerAdd.button.cancel' | message}}</button>
                <button class="primary" form="add-supply-partner-form">{{'adminSupplyPartnerAdd.button.addSupplyPartner' | message}}</button>
            </div>
        </div>
    </div>
</div>
