<section class="openlmis-table-container">
    <table>
        <caption ng-if="!vm.roleAssignments || vm.roleAssignments.length === 0">
            {{'adminUserRoles.noRolesAssigned' | message}}
        </caption>
        <thead>
            <tr>
                <th>{{'adminUserRoles.program' | message}}</th>
                <th>{{'adminUserRoles.supervisoryNode' | message}}</th>
                <th>{{'adminUserRoles.role' | message}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="roleAssignment in vm.items | orderBy : '$name'">
                <td>{{roleAssignment.programName}}</td>
                <td>{{roleAssignment.supervisoryNodeName}}</td>
                <td>{{roleAssignment.roleName}}</td>
            </tr>
        </tbody>
    </table>
    <openlmis-pagination
        list="vm.roleAssignments"
        paged-list="vm.items"/>
</section>
