<h3>{{'openlmisUser.notificationSettings' | message}}</h3>
<form id="digestSubscriptions" class="openlmis-table-container" ng-submit="vm.saveUserSubscriptions()">
    <table>
        <caption ng-if="!vm.digestConfigurations || vm.digestConfigurations.length === 0">
            {{'openlmisUser.noDigestConfigurations' | message}}
        </caption>
        <thead>
            <tr>
                <th></th>
                <th>{{'openlmisUser.notification' | message}}</th>
                <th>{{'openlmisUser.schedule' | message}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="digestConfiguration in vm.digestConfigurations | orderBy : '$name'">
                <td>
                    <input type="checkbox" ng-model="vm.userSubscriptionsMap[digestConfiguration.id].subscribed" />
                </td>
                <td>{{digestConfiguration.tag | notificationTag}}</td>
                <td>
                    <openlmis-cron-selection
                        ng-required="vm.userSubscriptionsMap[digestConfiguration.id].subscribed"
                        ng-disabled="!vm.userSubscriptionsMap[digestConfiguration.id].subscribed"
                        ng-model="vm.userSubscriptionsMap[digestConfiguration.id].cronExpression" />
                </td>
            </tr>
        </tbody>
    </table>
</form>
<div class="openlmis-toolbar">
    <div class="button-group primary">
        <button class="primary" form="digestSubscriptions">{{
            'openlmisUser.updateSubscriptions' | message }}</button>
    </div>
</div>
