<h2>{{'openlmisUser.basicInformation' | message}}</h2>
<form id="user-profile">

    <label for="user-username">{{'openlmisUser.firstName' | message}}</label>
    <input id="user-username" type="text" ng-model="vm.user.username" disabled/>

    <label for="user-job-title">{{'openlmisUser.jobTitle' | message}}</label>
    <input id="user-job-title" type="text" ng-model="vm.user.jobTitle" disabled/>

    <label for="user-home-facility">{{'openlmisUser.homeFacility' | message}}</label>
    <input id="user-home-facility" type="text" ng-model="vm.homeFacility.name" disabled/>

    <label for="user-first-name">{{'openlmisUser.firstName' | message}}</label>
    <input id="user-first-name" type="text" ng-model="vm.user.firstName" required/>

    <label for="user-last-name">{{'openlmisUser.lastName' | message}}</label>
    <input id="user-last-name" type="text" ng-model="vm.user.lastName" required/>

    <label for="user-email">{{'openlmisUser.email' | message}}</label>
    <input id="user-email" type="email" ng-model="vm.user.email"/>

    <label for="user-phone-number">{{'openlmisUser.phoneNumber' | message}}</label>
    <input id="user-phone-number" type="text" ng-model="vm.user.phoneNumber"/>

</form>
<h3>{{'openlmisUser.roleAssignments' | message}}</h3>
<ng-include src="'admin-user-roles/user-role-tabs.html'"></ng-include>
<div ui-view=""></div>
