<h2>{{'adminServiceAccount.serviceAccounts' | message}}</h2>
<section class="openlmis-table-container">
    <button id="add-service-account" class="add" ng-click="vm.add()">
        {{'adminServiceAccount.add' | message}}
    </button>
    <table>
        <caption ng-if="!vm.serviceAccounts || vm.serviceAccounts.length === 0">
            {{'adminServiceAccount.noServiceAccounts' | message}}
        </caption>
        <thead>
            <tr>
                <th>{{'adminServiceAccount.date' | message}}</th>
                <th>{{'adminServiceAccount.key' | message}}</th>
                <th>{{'adminServiceAccount.actions' | message}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="serviceAccounts in vm.serviceAccounts">
                <td>{{serviceAccounts.createdDate | openlmisDate}}</td>
                <td>{{serviceAccounts.apiKey}}</td>
                <td>
                    <button class="danger" ng-click="vm.remove(serviceAccounts.apiKey)">{{'adminServiceAccount.delete' | message}}</button>
                </td>
            </tr>
        </tbody>
    </table>
    <openlmis-pagination/>
</section>
