<h2>{{'adminSupervisoryNodeList.supervisoryNodes' | message}}</h2>
<section class="openlmis-table-container">
    <form ng-submit="vm.search()">
        <fieldset class="form-group">
            <label for="supervisoryNodeName">{{'adminSupervisoryNodeList.name' | message}}</label>
            <input type="text" id="supervisoryNodeName" ng-model="vm.supervisoryNodeName"/>
        </fieldset>
        <fieldset class="form-group">
            <label for="geographicZone">{{'adminSupervisoryNodeList.geographicZone' | message}}</label>
            <select id="geographicZone" ng-model="vm.geographicZone"
                    ng-options="zone.id as zone.name for zone in vm.geographicZones">
            </select>
        </fieldset>
        <input type="submit" value="{{'adminSupervisoryNodeList.search' | message}}"/>
    </form>
    <table>
        <caption ng-if="!vm.supervisoryNodes || vm.supervisoryNodes.length === 0">
            {{'adminSupervisoryNodeList.noSupervisoryNodes' | message}}
        </caption>
        <thead>
            <tr>
                <th>{{'adminSupervisoryNodeList.name' | message}}</th>
                <th>{{'adminSupervisoryNodeList.code' | message}}</th>
                <th>{{'adminSupervisoryNodeList.facility' | message}}</th>
                <th>{{'adminSupervisoryNodeList.childNodes' | message}}</th>
                <th>{{'adminSupervisoryNodeList.geographicZone' | message}}</th>
                <th>{{'adminSupervisoryNodeList.actions' | message}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="supervisoryNode in vm.supervisoryNodes">
                <td>{{supervisoryNode.name}}</td>
                <td>{{supervisoryNode.code}}</td>
                <td>{{supervisoryNode.facility.name}}</td>
                <td>{{supervisoryNode.childNodes.length}}</td>
                <td>{{supervisoryNode.facility.geographicZone.name}}</td>
                <td>
                    <button class="primary" ui-sref="openlmis.administration.supervisoryNodes.edit({id: supervisoryNode.id})">{{'adminSupervisoryNodeList.edit' | message}}</button>
                </td>
            </tr>
        </tbody>
    </table>
    <openlmis-pagination/>
</section>
