<div class="modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 ng-if="vm.isNew">{{'adminSupplyPartnerEdit.addAssociation' | message}}</h1>
                <h1 ng-if="!vm.isNew">{{'adminSupplyPartnerEdit.editAssociation' | message}}</h1>
            </div>
            <div class="modal-body">
                <form id="add-supply-partner-association-form" ng-submit="vm.addAssociation()">
                    <p class="note" ng-if="vm.isNew">{{'adminSupplyPartnerEdit.programAndSupervisoryNodeDisclaimer' | message}}</p>
                    <p class="note">{{'adminSupplyPartnerEdit.facilitiesDisclaimer' | message}}</p>
                    <label for="program">{{'adminSupplyPartnerEdit.program' | message}}</label>
                    <select id="program" class="form-control" ng-model="vm.association.program" ng-options="program as program.name for program in vm.getAvailablePrograms() track by program.id" ng-change="vm.updateFacilitiesAndProducts()" ng-disabled="!vm.isNew" required></select>

                    <label for="supervisoryNode">{{'adminSupplyPartnerEdit.supervisoryNode' | message}}</label>
                    <select id="supervisoryNode" class="form-control" ng-model="vm.association.supervisoryNode" ng-options="supervisoryNode as supervisoryNode.name for supervisoryNode in vm.getAvailableSupervisoryNodes() track by supervisoryNode.id" ng-change="vm.updateFacilitiesAndProducts()" ng-disabled="!vm.isNew" required></select>
                </form>
                <section class="openlmis-table-container">
                    <section class="is-primary">
                        <form class="form-inline" ng-submit="vm.addFacility()" reload-form>
                            <div>
                                <label for="facility">{{'adminSupplyPartnerEdit.facility' | message}}</label>
                                <select id="facility" class="form-control" ng-model="vm.selectedFacility" ng-options="facility as facility.name for facility in vm.getAvailableFacilities() track by facility.id" required></select>
                            </div>
                            <button type="submit" class="add">{{'adminSupervisoryNodeEdit.add' | message}}</button>
                        </form>
                    </section>
                    <table>
                        <caption ng-if="!vm.association.facilities || vm.association.facilities.length === 0">
                            {{'adminSupplyPartnerEdit.noFacilities' | message}}
                        </caption>
                        <thead>
                            <tr>
                                <th>{{'adminSupplyPartnerEdit.facilityName' | message}}</th>
                                <th>{{'adminSupplyPartnerEdit.facilityCode' | message}}</th>
                                <th>{{'adminSupplyPartnerEdit.actions' | message}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="facility in vm.association.facilities">
                                <td>{{vm.facilitiesMap[facility.id].name}}</td>
                                <td>{{vm.facilitiesMap[facility.id].code}}</td>
                                <td><button class="danger" ng-click="vm.removeFacility($index)">{{'adminSupplyPartnerEdit.remove' | message}}</button></td>
                            </tr>
                        </tbody>
                    </table>
                </section>
                <section class="openlmis-table-container">
                    <section class="is-primary">
                        <button type="submit" ng-click="vm.addProducts()" class="add">{{'adminSupplyPartnerEdit.addProducts' | message}}</button>
                    </section>
                    <table>
                        <caption ng-if="!vm.association.orderables || vm.association.orderables.length === 0">
                            {{'adminSupplyPartnerEdit.noProducts' | message}}
                        </caption>
                        <thead>
                            <tr>
                                <th>{{'adminSupplyPartnerEdit.productName' | message}}</th>
                                <th>{{'adminSupplyPartnerEdit.productCode' | message}}</th>
                                <th>{{'adminSupplyPartnerEdit.actions' | message}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="orderable in vm.association.orderables">
                                <td>{{vm.orderablesMap[orderable.id].fullProductName}}</td>
                                <td>{{vm.orderablesMap[orderable.id].productCode}}</td>
                                <td><button class="danger" ng-click="vm.association.orderables.splice($index, 1)">{{'adminSupplyPartnerEdit.remove' | message}}</button></td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </div>
            <div class="modal-footer">
                <button id="cancel" ng-click="vm.goToPreviousState()">{{'adminSupplyPartnerEdit.cancel' | message}}</button>
                <button class="primary" type="submit" form="add-supply-partner-association-form">{{!vm.isNew ? 'adminSupplyPartnerEdit.updateAssociation' : 'adminSupplyPartnerEdit.addAssociation' | message}}</button>
            </div>
        </div>
    </div>
</div>
