<h2>{{'adminSupplyPartnerEdit.editSupplyPartner' | message}}</h2>
<form id="editSupplyPartner" ng-submit="vm.supplyPartner.save()">
    <label for="code">{{'adminSupplyPartnerEdit.code' | message}}</label>
    <input id="code" class="form-control" ng-model="vm.supplyPartner.code" required disabled/>
    <label for="name">{{'adminSupplyPartnerEdit.name' | message}}</label>
    <input id="name" class="form-control" ng-model="vm.supplyPartner.name" required/>
</form>
<label>{{'adminSupplyPartnerEdit.associations' | message}}</label>
<section class="openlmis-table-container">
    <button id="add-supply-partner-association" class="add" ui-sref=".association">
        {{'adminSupplyPartnerEdit.addAssociation' | message}}
    </button>
    <table>
        <caption ng-if="!vm.associationsPage || vm.associationsPage.length === 0">
            {{'adminSupplyPartnerEdit.noAssociations' | message}}
        </caption>
        <thead>
            <tr>
                <th>{{'adminSupplyPartnerEdit.program' | message}}</th>
                <th>{{'adminSupplyPartnerEdit.supervisoryNode' | message}}</th>
                <th>{{'adminSupplyPartnerEdit.facilities' | message}}</th>
                <th>{{'adminSupplyPartnerEdit.products' | message}}</th>
                <th>{{'adminSupplyPartnerEdit.actions' | message}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="association in vm.associationsPage">
                <td>{{association.program.name}}</td>
                <td>{{association.supervisoryNode.name}}</td>
                <td>{{association.facilities.length || 0}} {{'adminSupplyPartnerEdit.facilities' | message}}
                    <button ng-click="vm.viewFacilities($index)">{{'adminSupplyPartnerEdit.view' | message}}</button>
                </td>
                <td>{{association.orderables.length || 0}} {{'adminSupplyPartnerEdit.products' | message}}
                    <button ng-click="vm.viewOrderables($index)">{{'adminSupplyPartnerEdit.view' | message}}</button>
                <td>
                    <button ui-sref=".association({programId: association.program.id, supervisoryNodeId: association.supervisoryNode.id})">{{'adminSupplyPartnerEdit.editAssociation' | message}}</button>
                    <button class="danger" ng-click="vm.supplyPartner.removeAssociation(association)">{{'adminSupplyPartnerEdit.remove' | message}}</button>
                </td>
            </tr>
        </tbody>
    </table>
    <openlmis-pagination
        list="vm.associations"
        paged-list="vm.associationsPage"/>
</section>
<div class="openlmis-toolbar">
    <button ng-click="vm.goToSupplyPartnerList()">{{'adminSupplyPartnerEdit.cancel' | message}}</button>
    <button class="primary" form="editSupplyPartner" type="submit">{{'adminSupplyPartnerEdit.updateSupplyPartner' | message}}</button>
</div>
