<div class="modal view-items-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>{{vm.titleLabel | message}}</h4>
            </div>
            <div class="modal-body">
                <form id="itemForm">
                    <fieldset class="form-group">
                        <label for="search">
                            {{'adminSupplyPartnerEdit.search' | message}}
                        </label>
                        <input type="text" id="search" name="search" ng-model="vm.searchText"
                               ng-change="vm.search()"/>
                    </fieldset>
                    <br/>
                    <div class="openlmis-table-container">
                        <table>
                            <thead>
                            <tr>
                                <th>{{'adminSupplyPartnerEdit.name' | message}}</th>
                                <th>{{'adminSupplyPartnerEdit.code' | message}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="lineItem in vm.lineItems">
                                <td>{{lineItem.name}}</td>
                                <td>{{lineItem.code}}</td>
                            </tr>
                            </tbody>
                        </table>
                        <openlmis-pagination
                                list="vm.filteredItems"
                                paged-list="vm.lineItems"/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="button-group">
                    <button type="button" class="cancel" ng-click="vm.close()">
                        {{'adminSupplyPartnerEdit.close' | message}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
