<h2>{{'adminFacilityTypeList.facilityTypes' | message}}</h2>
<section class="openlmis-table-container">
    <button id="add-facility-type" class="add" ui-sref="openlmis.administration.facilityTypes.edit">
        {{'adminFacilityTypeList.addFacilityType' | message}}
    </button>
    <table>
        <caption ng-if="!vm.facilityTypes || vm.facilityTypes.length === 0">
            {{'adminFacilityTypeList.noFacilityTypes' | message}}
        </caption>
        <thead>
            <tr>
                <th>{{'adminFacilityTypeList.facilityTypeCode' | message}}</th>
                <th>{{'adminFacilityTypeList.facilityTypeName' | message}}</th>
                <th>{{'adminFacilityTypeList.actions' | message}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="facilityType in vm.facilityTypes">
                <td>{{facilityType.code}}</td>
                <td>{{facilityType.name}}</td>
                <td>
                    <button ui-sref="openlmis.administration.facilityTypes.edit({id: facilityType.id})">{{'adminFacilityTypeList.edit' | message}}</button>
                </td>
            </tr>
        </tbody>
    </table>
    <openlmis-pagination/>
</section>