<h2>{{'adminSystemNotificationList.systemNotifications' | message}}</h2>
<section class="openlmis-table-container">
    <form ng-submit="vm.loadSystemNotifications()" >
        <label for="author">{{'adminSystemNotificationList.author' | message}}</label>
        <select id="author"
                ng-model="vm.authorId"
                ng-options="author.id as author | user for author in vm.users"></select>
        <label class="checkbox">
            <input type="checkbox" ng-model="vm.isDisplayed"/>
            {{'adminSystemNotificationList.only.displayed' | message}}
        </label>
    </form>
    <table>
        <caption ng-if="!vm.systemNotifications || vm.systemNotifications.length === 0">
            {{'adminSystemNotificationList.noSystemNotifications' | message}}
        </caption>
        <thead>
            <tr>
                <th>{{'adminSystemNotificationList.title' | message}}</th>
                <th>{{'adminSystemNotificationList.author' | message}}</th>
                <th>{{'adminSystemNotificationList.createdDate' | message}}</th>
                <th>{{'adminSystemNotificationList.active' | message}}</th>
                <th>{{'adminSystemNotificationList.isDisplayed' | message}}</th>
                <th>{{'adminSystemNotificationList.message' | message}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="systemNotification in vm.systemNotifications">
                <td>{{systemNotification.title}}</td>
                <td>{{vm.usersMap[systemNotification.author.id] | user}}</td>
                <td>{{systemNotification.createdDate | openlmisDate}}</td>
                <td><openlmis-ok-icon show="systemNotification.active"></openlmis-ok-icon></td>
                <td><openlmis-ok-icon show="systemNotification.displayed"></openlmis-ok-icon></td>
                <td class="crop-long-text">{{systemNotification.message}}</td>
            </tr>
        </tbody>
    </table>
    <openlmis-pagination/>
</section>
