<h2>{{'adminSupplyLineList.supplyLines' | message}}</h2>
<section class="openlmis-table-container">
    <form ng-submit="vm.search()">
        <fieldset class="form-group">
            <label for="supplyingFacility">{{'adminSupplyLineList.supplyingFacility' | message}}</label>
            <select id="supplyingFacility"
                    ng-options="warehouse.code as warehouse.name for warehouse in vm.warehouses"
                    ng-model="vm.supplyingFacility">
            </select>
        </fieldset>
        <input type="submit" value="{{'adminSupplyLineList.search' | message}}"/>
    </form>
    <table>
        <caption ng-if="!vm.supplyLines || vm.supplyLines.length === 0">
            {{'adminSupplyLineList.noSupplyLinesFound' | message}}
        </caption>
        <thead>
            <tr>
                <th>{{'adminSupplyLineList.supplyingFacility' | message}}</th>
                <th>{{'adminSupplyLineList.supervisoryNode' | message}}</th>
                <th>{{'adminSupplyLineList.program' | message}}</th>
                <th>{{'adminSupplyLineList.actions' | message}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="supplyLine in vm.supplyLines">
                <td>{{supplyLine.supplyingFacility.name}}</td>
                <td>{{supplyLine.supervisoryNode.code}}</td>
                <td>{{supplyLine.program.name}}</td>
                <td>
                    <button ui-sref="openlmis.administration.supplyLines.view({id: supplyLine.id})">{{'adminSupplyLineList.view' | message}}</button>
                </td>
            </tr>
        </tbody>
    </table>
    <openlmis-pagination/>
</section>
