<h2>{{'adminSupplyPartnerList.supplyPartners' | message}}</h2>
<section class="openlmis-table-container">
    <table>
        <caption ng-if="!vm.supplyPartners || vm.supplyPartners.length === 0">
            {{'adminSupplyPartnerList.noSupplyPartners' | message}}
        </caption>
        <thead>
            <tr>
                <th>{{'adminSupplyPartnerList.code' | message}}</th>
                <th>{{'adminSupplyPartnerList.name' | message}}</th>
                <th>{{'adminSupplyPartnerList.actions' | message}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="supplyPartner in vm.supplyPartners">
                <td>{{supplyPartner.code}}</td>
                <td>{{supplyPartner.name}}</td>
                <td>
                    <button class="primary" ui-sref="openlmis.administration.supplyPartnersEdit({id: supplyPartner.id})">{{'adminSupplyPartnerList.edit' | message}}</button>
                </td>
            </tr>
        </tbody>
    </table>
    <openlmis-pagination/>
</section>
