<h2>{{(vm.role.id ? 'adminRoleForm.updateRole' : 'adminRoleForm.createRole') | message}}</h2>
<form id="newRoleForm" ng-submit="vm.saveRole()">
    <label>
        <span>{{'adminRoleForm.roleType' | message}}</span>
        <span>{{vm.getLabel(vm.type)}}</span>
    </label>
    <label for="roleName">{{'adminRoleForm.name' | message}}</label>
    <input id="roleName" class="form-control" ng-model="vm.role.name" required/>
    <label for="description">{{'adminRoleForm.description' | message}}</label>
    <textarea id="description" ng-model="vm.role.description" required></textarea>
    <fieldset class="form-group">
        <legend>Rights</legend>
        <label ng-repeat="right in vm.rights" class="checkbox">
           <input type="checkbox" ng-model="right.checked" ng-required="vm.isNoneSelected()"/>
           {{vm.getMessage(right.name)}}
        </label>
    </fieldset>
</form>
<div class="openlmis-toolbar">
    <button class="primary" form="newRoleForm" type="submit">{{(vm.role.id ? 'adminRoleForm.updateRole' : 'adminRoleForm.createRole') | message}}</button>
    <button ui-sref="^">{{'adminRoleForm.cancel' | message}}</button>
</div>
