<div class="modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1>{{'adminProcessingScheduleAdd.addProcessingSchedule' | message}}</h1>
            </div>
            <div class="modal-body">
                <form id="add-processing-schedule-form" ng-submit="vm.save()">
                    <label for="processing-schedule-code">{{'adminProcessingScheduleAdd.processingScheduleCode' | message}}</label>
                    <input id="processing-schedule-code" type="text" ng-model="vm.processingSchedule.code" required/>
                    <label for="processing-schedule-name">{{'adminProcessingScheduleAdd.processingScheduleName' | message}}</label>
                    <input id="processing-schedule-name" type="text" ng-model="vm.processingSchedule.name" required/>
                    <label for="processing-schedule-description">{{'adminProcessingScheduleAdd.description' | message}}</label>
                    <input id="processing-schedule-description" type="text" ng-model="vm.processingSchedule.description"/>
                </form>
            </div>
            <div class="modal-footer">
                <button id="cancel" ng-click="vm.goToPreviousState()">{{'adminProcessingScheduleAdd.cancel' | message}}</button>
                <button class="primary" form="add-processing-schedule-form">{{'adminProcessingScheduleAdd.save' | message}}</button>
            </div>
        </div>
    </div>
</div>
