<div class="modal add-product-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>{{'selectUsersModal.importRoles' | message}}</h4>
            </div>
            <div class="modal-body">
                <form id="userForm" ng-submit="vm.selectUser()">
                    <fieldset class="form-group">
                        <label for="search">
                            {{'selectUsersModal.searchUser' | message}}
                        </label>
                        <input type="text" id="search" name="search" ng-model="vm.searchText"
                               ng-change="vm.search()"/>
                        <p class="note">{{'selectUsersModal.searchByUsernameInfo' | message}}</p>                               
                    </fieldset>
                    <br/>
                    <div class="openlmis-table-container">
                        <table>
                            <thead>
                            <tr>
                                <th>{{'selectUsersModal.select' | message}}</th>
                                <th>{{'selectUsersModal.username' | message}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="user in vm.filteredUsers">
                                <td><input type="checkbox" ng-model="vm.selectedUser" ng-true-value="{{user}}"/></td>
                                <td>{{user.username}}</td>
                            </tr>
                            </tbody>
                        </table>
                        <openlmis-pagination pagination-id="'importRoles'" list="vm.filteredUsers" paged-list="vm.usersPage"/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                    <button id="cancel" ng-click="vm.close()">{{'selectUsersModal.cancel' | message}}</button>
                    <button class="primary" type="submit" form="userForm">{{'selectUsersModal.importRoles' | message}}</button>
            </div>
        </div>
    </div>
</div>
