<form class="form-inline" ng-submit="vm.addRole()" reload-form>
    <div class="form-group">
        <label for="warehouse">{{'adminUserRoles.supplyingFacility' | message}}</label>
        <select id="warehouse" ng-model="vm.selectedWarehouse" required
            ng-options="warehouse as warehouse.name for warehouse in vm.warehouses">
        </select>
    </div>
    <div class="form-group">
        <label for="role">{{'adminUserRoles.role' | message}}</label>
        <select id="role" ng-model="vm.selectedRole"
            ng-options="role as role.name for role in vm.filteredRoles" required>
        </select>
    </div>
    <button type="submit" class="add">{{'adminUserRoles.addRole' | message}}</button>
</form>
<section class="openlmis-table-container">
    <table>
        <caption ng-if="!vm.filteredRoleAssignments || vm.filteredRoleAssignments.length === 0">
            {{'adminUserRoles.noRolesAssigned' | message}}
        </caption>
        <thead>
            <tr>
                <th>{{'adminUserRoles.supplyingFacility' | message}}</th>
                <th>{{'adminUserRoles.role' | message}}</th>
                <th>{{'adminUserRoles.actions' | message}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="roleAssignment in vm.items | orderBy : '$name'">
                <td>{{roleAssignment.warehouseName}}</td>
                <td>{{roleAssignment.roleName}}</td>
                <td>
                    <button class="danger" ng-click="vm.removeRole(roleAssignment)">{{'adminUserRoles.removeRole.label' | message}}</button>
                </td>
            </tr>
        </tbody>
    </table>
    <openlmis-pagination
        list="vm.filteredRoleAssignments"
        paged-list="vm.items"/>
</section>
