.overtab-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 606px;

    > * {
        margin: 0px;
    }
}